# OrthoLang default settings
#
# Note that this is not an OrthoLang script. It just looks similar.
#
# Copy it to ~/.ortholang/ortholang.cfg and it will be loaded by default, or
# copy it somewhere else and load it with the --config flag.
#
# Change whatever settings you want, or remove them to load the built-in
# defaults instead. Use $() syntax to embed environment variables or other
# variables from the config file in paths.

# Run from the current working dir, and save results there
workdir = "$(PWD)"
outfile = "$(workdir)/result.txt"

# But put all other files in ~/.ortholang
tmpdir  = "$(HOME)/.ortholang"
report  = "$(tmpdir)/profile.html" # TODO should not fail when this is missing!
logfile = "$(tmpdir)/log.txt"
history = "$(tmpdir)/history.txt"

# Disable debugging and test filters
# debugregex     = ".*"
testpattern    = "all"

# Settings for interactive mode
termcolumns    = 100 # TODO remove this?
interactive    = true # TODO false?
shellaccess    = true
progressbar    = true

# You probably don't need this unless you're debugging new functions you wrote
showhiddenfns  = false

